.repo{
    width: 250px;
    height: 200px;
    border-radius: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    
} 
li a {
    display: block;
    color:whitesmoke;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 155px;
    font-family: 'Great Vibes', cursive;
    font-family: 'Fredericka the Great', cursive;

}
li a:hover{
    background-color: #111;
}
li{
    float:left;
}
.hafla{
  background-image: url("../img/Bottom-Curve-Green-to-Grey.png");
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}
b{
  
  font-family: 'Berkshire Swash', cursive;
  color:midnightblue;
  font-family: 'Great Vibes', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Faster One', cursive;
  font-family: 'Nosifer', cursive;
}
p{
font-family: 'Rye', cursive;
 font-family: 'Frijole', cursive;
 font-family: 'IM Fell Double Pica SC', serif;
 font-size: 35px;
 font-style: inherit;
}
.fix{
  width:200px;
  height:120px;
  float:left;
  margin-left:10px;
  background-color: transparent;
}
.group{
  width: 320px;
  height: 300px;
  border-radius: 10px;
}
em{
  font-family: 'Great Vibes', cursive;
  font-family: 'Fredericka the Great', cursive;
}
h4{
  color:black;
  font-family: 'Great Vibes', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Faster One', cursive;
}
i{
  font-size:50px;
}
.title{
  font-family: 'Griffy', cursive;
}